
<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <h1>Sugestões de busca</h1>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th >Cometa</th>
            <th >Grupo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HALLEY</td>
            <td>LARANJA</td>
          </tr>
          <tr>
            <td>ENCKE</td>
            <td>VERMELHO</td>
          </tr>
          <tr>
            <td>WOLF</td>
            <td>PRETO</td>
          </tr>
          <tr>
            <td>KUSHIDA</td>
            <td>AZUL</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-md-6 col-sm-6">
      <form [formGroup]="formOvnis" (ngSubmit)="onSubmit(formOvnis.value)">
        <div class="form-group">
          <label for="cometa">Cometa</label>
          <input type="text" class="form-control" id="cometa" placeholder="Digíte o nome do cometa" formControlName="cometa">
        </div>
        <div class="form-group">
          <label for="grupo">Grupo</label>
          <input type="text" class="form-control" id="grupo" placeholder="Digíte o nome do grupo" formControlName="grupo">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{resposta}}</h1>
    </div>
  </div>

</div>
